body {
  margin: 0;
  font-family: BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* toolbar */
.pipeline-toolbar {
  padding: 20px;
  background-color: #f5f6f7;
  border-bottom: 2px solid #e9e9e9;
}

.pipeline-toolbar-btn {
  cursor: grab;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  color: #2b2a2a;
  font-weight: 600;
  font-size: 12px;
  transition: transform 0.2s ease-in;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.pipeline-toolbar-btn:hover {
  transform: scale(1.1);
}

/* pipeline ui */
.pipeline-ui {
  width: 100vw;
  height: 70vh;
  background-color: white;
  border-bottom: 2px solid #e9e9e9;
}

.submit-btn {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #e9e9e9;
  color: #2b2a2a;
  padding: 8px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.submit-btn:hover {
  background-color: #f5f6f7;
}

/* node */
.basenode {
  border: 2px solid rgba(79, 70, 229, 0.4);
  padding: 6px 4px;
  border-radius: 4px;
  background-color: white;
  transition: box-shadow 0.2s ease-in-out;
  overflow: visible;
  padding-bottom: 12px;
}

.basenode:hover {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.basenode-header {
  background-color: #eef2ff;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #b8c4fd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.basenode-header h6 {
  margin: 0;
  font-size: 14px;
  color: #2b2a2a;
}

.basenode-body {
  padding: 0px 6px;
  margin-top: 10px;
}

.basenode .basenode-input span {
  color: #2b2a2a;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 6px 0px;
}

.basenode .basenode-input textarea {
  width: 100%;
  resize: none;
  border: 1px solid #d1d5db;
  overflow-y: hidden;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  outline: none;
  min-height: 33.6px;
  font-family: BlinkMacSystemFont, sans-serif;
}

/* Focus state */
.basenode .basenode-input textarea:focus {
  border-color: #3b82f6;
}

.basenode-select {
  margin-top: -5px;
}

.basenode-select .MuiAutocomplete-option {
  font-family: BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}

.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.react-flow__edge-path {
  stroke: #906fc8 !important;
  stroke-width: 2 !important;
}
